:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
body{
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  text-align: center;
}
.color-cont{
  height: 20vh;
  width: 20vw;
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: 0.3 ease;
  border: 5px solid white;
  border-radius: 30px;
}
.color{
  position: relative;
  right:-200px;
}